body {
  scroll-behavior: smooth;
}

.activeBtn {
  background-color: #4338ca !important;
  color: white !important;
  border: none !important;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-10px); }
    100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
    animation: fadeIn 0.3s ease-out forwards;
}

/* Responsive adjustments */
@media (max-width: 640px) {
  h1, h2, h3 { font-size: 1rem; }
  .line-clamp-2 { line-height: 1.2rem; }
  .hero-content h1 { font-size: 2rem; }
  .hero-content p { font-size: 0.9rem; }
}

@media (min-width: 640px) and (max-width: 1024px) {
  .hero-content h1 { font-size: 3rem; }
  .hero-content p { font-size: 1rem; }
}
